<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppStoreID</key>
	<string>6818635047</string>
	<key>BonusCampaign</key>
	<dict>
		<key>CampaignID</key>
		<string>welcome-wheel-v1</string>
		<key>CodeServiceURL</key>
		<string></string>
		<key>Enabled</key>
		<false/>
		<key>MinimumMinutesBetweenVisits</key>
		<integer>30</integer>
		<key>MinimumSessionSeconds</key>
		<integer>20</integer>
		<key>OrganizerName</key>
		<string></string>
		<key>QualifyingVisitNumber</key>
		<integer>3</integer>
		<key>RulesURL</key>
		<string></string>
		<key>RulesVersion</key>
		<string>1</string>
	</dict>
	<key>DiagnosticLimits</key>
	<dict>
		<key>MirroringSeconds</key>
		<integer>60</integer>
		<key>PhotoShows</key>
		<integer>1</integer>
		<key>RemoteSeconds</key>
		<integer>120</integer>
	</dict>
	<key>Notifications</key>
	<dict>
		<key>RegistrationURL</key>
		<string></string>
	</dict>
	<key>PrivacyPolicyURL</key>
	<string>https://tvremote-castmirror.site/privacy.html</string>
	<key>Products</key>
	<dict>
		<key>Lifetime</key>
		<string>remote_pro_lifetime</string>
		<key>Monthly</key>
		<string>remote_pro_monthly</string>
		<key>SubscriptionGroupID</key>
		<string></string>
		<key>Yearly</key>
		<string>remote_pro_yearly</string>
	</dict>
	<key>SupportDraftRetentionDays</key>
	<integer>7</integer>
	<key>SupportEmail</key>
	<string>support@tvremote-castmirror.site</string>
	<key>SupportFormURL</key>
	<string>https://tvremote-castmirror.site/support.html#contact</string>
	<key>SupportPageURL</key>
	<string>https://tvremote-castmirror.site/support.html</string>
	<key>SupportReplyLanguages</key>
	<array>
		<string>en</string>
	</array>
	<key>TermsOfUseURL</key>
	<string></string>
</dict>
</plist>
